@Media only screen and (max-width: 800px){
    body {
        font-size: 3em
        font-colour
    }
}

body {
    font-family: sans-serif;
}

header {
    padding-top: 50px;
    width: 100%;
    text-align: center;
}

#vin {
    font-size: 2em;
    font-family: monospace;
    border: 0;
    outline: 0;
    border-bottom: 2px solid blue;
    padding: 5px;
}

#button {
    margin: 10px;
    
}
